.error.boundary {
  margin: 1em;
}

.error.boundary span {
  white-space: pre;
}

#root,
#root div[role='group'] {
  height: 100%;
}

.full.height {
  height: 100% !important;
}

.padding.top.and.bottom {
  padding: 0.78571429em 0;
}

.padding.bottom {
  padding: 0 0 0.78571429em 0;
}

.snack.bar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  font-size: 3em;
}

.snack.bar .segment {
  margin: 0;
  padding: 0 0 1em 1em;
}

.massive.menu {
  background: #6c6c6f !important;
  border-radius: 0 !important;
  position: sticky;
  top: 0;
  z-index: 900;
}

table .basic.icon.button {
  background: none !important;
  box-shadow: none !important;
}

.drop.zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
}

.drop.zone:not(.disabled) {
  cursor: pointer;
  border-style: dashed;
}

.drop.zone.active,
.drop.zone:hover {
  border-color: #cacbcd;
}

.editor .view {
  font-family: Roboto, sans-serif;
  min-height: 5em;
  height: initial;
}

.editor .view:not(.disabled) {
  border: 2px #eeeeee solid;
}

.editor .view:hover {
  border-color: #cacbcd;
}

.editor .toolbar {
  border: none;
  padding: 0;
  margin: 0;
}

.editor .toolbar .rdw-option-wrapper {
  border: none;
  opacity: 0.7;
}

.editor .toolbar .rdw-option-active {
  opacity: 1;
  box-shadow: none;
}

.editor .toolbar .rdw-option-wrapper:hover {
  opacity: 0.9;
  box-shadow: none;
}

.editor .toolbar .rdw-link-modal-input {
  height: initial !important;
  margin-top: 5px !important;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  height: 25px !important;
  margin-bottom: 15px !important;
  padding: 0 5px !important;
}

.ui.menu .header.item:only-child {
  padding-left: 1.14285714em !important;
}

.ui.sub.header {
  text-transform: initial !important;
}

.ui.negative.buttons .button:hover,
.ui.negative.button:hover {
  background-color: #b11a1a !important;
}

.ui.list .list > .item [class*='left floated'],
.ui.list > .item [class*='left floated'] {
  margin: 0em !important;
}

.ui.link.inverted.menu .item:hover,
.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.inverted.menu a.item:active,
.ui.inverted.menu .link.item:active {
  background: none !important;
  color: #cacbcd !important;
}

.ui.list .list > .item .description,
.ui.list > .item .description {
  margin-top: 0.2em;
}

.ui.table td,
.ui.table th {
  padding: 0.3em 0 !important;
}

ul.ui.list ul,
ol.ui.list ol,
.ui.list .list {
  padding: 0 !important;
}

.ui.checkbox input.hidden + label {
  font-weight: 400;
}

.ui.toggle.checkbox .box:hover:before,
.ui.toggle.checkbox label:hover:before {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.ui.loading.segment.inherit.color {
  color: inherit !important;
}

.ui.active.indicating.progress {
  margin: 0;
  background: none;
}

.ui.progress > .label {
  position: relative !important;
}

.ui.loader:not(.inline) {
  position: fixed !important;
}

.ui.cards {
  margin: 0 !important;
}

.ui.header {
  text-overflow: ellipsis;
  overflow: hidden;
}
