.error.boundary {
  margin: 1em;
}

.error.boundary span {
  white-space: pre;
}

#root,
#root div[role='group'] {
  height: 100%;
}

.full.height {
  height: 100% !important;
}

.padding.top.and.bottom {
  padding: 0.78571429em 0;
}

.padding.bottom {
  padding: 0 0 0.78571429em 0;
}

.snack.bar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  font-size: 3em;
}

.snack.bar .segment {
  margin: 0;
  padding: 0 0 1em 1em;
}

.massive.menu {
  background: #6c6c6f !important;
  border-radius: 0 !important;
  position: sticky;
  top: 0;
  z-index: 900;
}

table .basic.icon.button {
  background: none !important;
  box-shadow: none !important;
}

[data-balloon] {
  position: relative;
}

[data-balloon]:after,
[data-balloon]:before {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  font-weight: 400;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 50ms;
  bottom: 100%;
  left: 50%;
  z-index: 2400;
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  transform-origin: top;
}

[data-balloon]:after {
  padding: 0.5em 1em;
  margin-bottom: 11px;
  font-size: 14px;
  color: #fff;
  white-space: pre;
  background: #424242;
  border-radius: 2px;
  content: attr(data-balloon);
}

[data-balloon]:before {
  width: 18px;
  height: 6px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='12'%3E%3Cpath fill='%23424242' d='M2.658 0h32.004c-6 0-11.627 12.002-16.002 12.002C14.285 12.002 8.594 0 2.658 0z'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% auto;
  margin-bottom: 5px;
  content: '';
}

[data-balloon]:hover:after,
[data-balloon]:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
  pointer-events: auto;
  transform: translate(-50%);
}

[data-balloon='']:after,
[data-balloon='']:before {
  content: normal;
}

[data-balloon-pos='down']:after,
[data-balloon-pos='down']:before {
  top: 100%;
  bottom: auto;
  left: 50%;
  margin-bottom: 0;
  transform: translate(-50%, -10px);
}

[data-balloon-pos='down']:after {
  margin-top: 11px;
}

[data-balloon-pos='down']:before {
  width: 18px;
  height: 6px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='12'%3E%3Cpath fill='%23424242' d='M33.342 12H1.338c6 0 11.627-12.002 16.002-12.002C21.715-.002 27.406 12 33.342 12z'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% auto;
  margin-top: 5px;
  margin-bottom: 0;
}

[data-balloon-pos='down']:hover:after,
[data-balloon-pos='down']:hover:before {
  transform: translate(-50%);
}

.clean.template {
  background: inherit;
  line-height: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.drop.zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
}

.drop.zone:not(.disabled) {
  cursor: pointer;
  border-style: dashed;
}

.drop.zone:hover {
  border-color: #cacbcd;
}

.drop.zone.active {
  border-color: #21ba45;
}

.editor .view {
  font-family: Roboto, sans-serif;
  min-height: 5em;
  height: initial;
}

.editor .view:not(.disabled) {
  border: 2px #eeeeee solid;
}

.editor .view:hover {
  border-color: #cacbcd;
}

.editor .toolbar {
  border: none;
  padding: 0;
  margin: 0;
}

.editor .toolbar .rdw-option-wrapper {
  border: none;
  opacity: 0.7;
}

.editor .toolbar .rdw-option-active {
  opacity: 1;
  box-shadow: none;
}

.editor .toolbar .rdw-option-wrapper:hover {
  opacity: 0.9;
  box-shadow: none;
}

.editor .toolbar .rdw-link-modal-input {
  height: initial !important;
  margin-top: 5px !important;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  height: 25px !important;
  margin-bottom: 15px !important;
  padding: 0 5px !important;
}

.ui.menu .header.item:only-child {
  padding-left: 1.14285714em !important;
}

.ui.sub.header {
  text-transform: initial !important;
}

.ui.list .list > .item [class*='left floated'],
.ui.list > .item [class*='left floated'] {
  margin: 0em !important;
}

.ui.link.inverted.menu .item:hover,
.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.inverted.menu a.item:active,
.ui.inverted.menu .link.item:active {
  background: none !important;
  color: #cacbcd !important;
}

.ui.list .list > .item .description,
.ui.list > .item .description {
  margin-top: 0.2em;
}

.ui.table td,
.ui.table th {
  padding: 0.3em 0 !important;
}

ul.ui.list ul,
ol.ui.list ol,
.ui.list .list {
  padding: 0 !important;
}

.ui.checkbox input.hidden + label {
  font-weight: 400;
}

.ui.toggle.checkbox .box:hover:before,
.ui.toggle.checkbox label:hover:before {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.ui.loading.segment.inherit.color {
  color: inherit !important;
}

.ui.active.indicating.progress {
  margin: 0;
  background: none;
}

.ui.progress > .label {
  position: relative !important;
}

.ui.loader:not(.inline) {
  position: fixed !important;
}

.ui.cards {
  margin: 0 !important;
}

.ui.header {
  text-overflow: ellipsis;
  overflow: hidden;
}

.ui.loading.form:before {
  background: #eff0f1aa !important;
}
