#root,
#root > div,
#root > div > div {
  height: 100%;
}

.height100 {
  height: 100% !important;
}

.noMinHeight {
  min-height: auto !important;
}

.paddingTopBottom {
  padding: 0.78571429em 0;
}
