#root,
#root div[role='group'] {
  height: 100%;
}

.full.height {
  height: 100% !important;
}

.padding.top.and.bottom {
  padding: 0.78571429em 0;
}

.padding.bottom {
  padding: 0 0 0.78571429em 0;
}

.snack.bar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.snack.bar .segment {
  margin: 0;
}

.pushable:not(body) {
  transform: initial !important;
}

.massive.menu {
  background: #f05a22 !important;
  border-radius: 0 !important;
  position: sticky;
  top: 0;
  z-index: 900;
}

.content .button {
  margin: 0;
  padding: 0.78571429rem !important;
}

.top.sidebar .icon.button:hover {
  color: white;
}

.file.list {
  height: 15em;
  width: 100%;
  overflow-y: scroll;
}

.ui.visible.scale.down.sidebar ~ .pusher {
  transform: scale(0.8) !important;
}

.ui.negative.buttons .button:hover,
.ui.negative.button:hover {
  background-color: #f02020 !important;
}

.ui.placeholder,
.ui.placeholder > :before,
.ui.placeholder .image.header:after,
.ui.placeholder .line,
.ui.placeholder .line:after {
  background-color: #eff0f1 !important;
}
